html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }



  #show-all {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img-top{
  width: 100%;

}

  #delete-form{
    display: inline-block;
  }